<div fxLayout="column" fxFlex class="feat-wrapper">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="feat-row"
    fxFlex
  >
    <div>
      {{ feat.name }}
    </div>
    <div>
      {{ feat.level }}
    </div>
  </div>
  <div fxLayout="column" *ngIf="expanded">
    <div fxFlex>
      <hr />
    </div>
    <div class="feat-section" fxLayout="row">
      <div fxLayout="row">
        Traits:
        <div *ngFor="let traitDisplay of feat.traits; last as isLast">
          {{ traitDisplay }}{{ isLast ? "" : ", " }}
        </div>
      </div>
      <div *ngIf="feat.actions" class="margin-left">
        <app-show-action [action]="feat.actions"></app-show-action>
      </div>
    </div>
    <div class="feat-section">
      <span
        class="additional-prop"
        *ngFor="let extendedField of getExtendedKeyListPerFeat(feat)"
      >
        <span class="additional-prop-name"
          >{{ extendedField.propName | titlecase }}: </span
        >{{ extendedField.value }}
      </span>
    </div>
    <div class="feat-section">
      {{ feat.text }}
    </div>
  </div>
</div>
