@import '../../variables.scss'; 
.master-table {
    width: 100%;
    padding-top: 10px;
    th {
        text-align: left;
        font-size: $master-table-header-size;
    }
    .top-level td {
        padding-top: 20px;
        border-bottom: $standard-border;
        font-weight: bold;
    }
    tbody {
        border: $standard-border;
    }
    .additional-prop {
        padding-right: 5px;
        .additional-prop-name {
            font-weight: 600;
        }
    }
}