<form [formGroup]="filterForm">
  <div fxLayout="row" fxLayoutAlign="bottom center" fxLayoutGap="20px">
    <div fxFlex="50" fxLayout="column">
        <label>Search:</label>
        <input type="text" formControlName="$" matInput />
    </div>
    <div fxFlex="50">
      <label for="type">Item Type</label>
      <mat-radio-group formControlName="itemType" name="itemType">
        <mat-radio-button value="feat">Feat</mat-radio-button>
        <mat-radio-button value="spell">Spell</mat-radio-button>
        <mat-radio-button value="">All</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="bottom center" fxLayoutGap="20px">
    <div fxFlex>
      <label for="traits">Traits</label>
      <ng-select [multiple]="true" formControlName="traits" name="traits">
        <ng-option *ngFor="let trait of traitList" [value]="trait">
          {{ trait }}
        </ng-option>
      </ng-select>
    </div>
    <div fxFlex>
      <label for="actions">Actions</label>
      <ng-select formControlName="actions" name="actions">
        <ng-option *ngFor="let action of actionList" [value]="action">
          {{ action }}
        </ng-option>
      </ng-select>
    </div>
  </div>
</form>
