<div fxLayout="column" fxFlex class="spell-wrapper">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="spell-row"
    fxFlex
  >
    <div>{{ spell.name }}</div>
    <div>
      {{ spell.level }}
    </div>
  </div>
  <div fxLayout="column" *ngIf="expanded">
    <div fxFlex>
      <hr />
    </div>
    <div fxLayout="row">
      Traits:
      <div *ngFor="let traitDisplay of spell.traits; last as isLast">
        {{ traitDisplay }}{{ isLast ? "" : ", " }}
      </div>
    </div>
    <div *ngIf="spell.action" class="spell-section">
      <div *ngIf="isArray(spell.action); else singleActionTemplate">
        <span *ngFor="let action of spell.action; let last=last" >
          <app-show-action [action]="action"></app-show-action>
          <span *ngIf="!last">,</span>
        </span>
      </div>
      <ng-template #singleActionTemplate>
        <app-show-action [action]="spell.action"></app-show-action>
      </ng-template>
    </div>
    <div class="spell-section">
      <span
        class="additional-prop"
        *ngFor="let extendedField of getExtendedKeyListPerspell(spell)"
      >
        <span class="additional-prop-name"
          >{{ extendedField.propName | titlecase }}: </span
        >{{ extendedField.value }}
      </span>
    </div>
    <div class="spell-section">
      {{ spell.text }}
    </div>
  </div>
</div>
