<div class="main-container">
  <h1>Its like AON but will eventually have better styling</h1>
  <div>
    <app-filter-group [stateKey]="FILTER_KEY"></app-filter-group>
  </div>
  <div>
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" #drawer autosize="false"><app-pad></app-pad></mat-drawer>
      <div>
        <button mat-button (click)="drawer.toggle()">Show Pad</button>
        <app-master-table [feats]="feats" [spells]="spells"  [stateKey]="FILTER_KEY"></app-master-table>
      </div>
    </mat-drawer-container>
  </div>
</div>
