<div class="pad-container" fxLayout="column">
  <div fxFlex fxLayout="column">
    <h2>Feats</h2>
    <div
      *ngFor="let feat of padDetails.feats | orderBy: 'asc':'level'"
      fxFlex
    >
      <app-pad-list-wrapper [item]="feat"> </app-pad-list-wrapper>
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <h2>Spells</h2>
    <div
      *ngFor="let spell of padDetails.spells | orderBy: 'asc':'level'"
      fxFlex
    >
      <app-pad-list-wrapper [item]="spell"> </app-pad-list-wrapper>
    </div>
  </div>
</div>
