<table
  mat-table
  [dataSource]="dataSource"
  class="feat-table"
  multiTemplateDataRows="true"
>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
  </ng-container>

  <!-- Traits Column -->
  <ng-container matColumnDef="traits">
    <th mat-header-cell *matHeaderCellDef>Traits</th>
    <td mat-cell *matCellDef="let element">{{ element.traits }}</td>
  </ng-container>

  <!-- Level Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef>Level</th>
    <td mat-cell *matCellDef="let element">{{ element.level }}</td>
  </ng-container>
  <!-- General Text Column -->
  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef colspan="3">text</th>
    <td mat-cell *matCellDef="let element" colspan="3">{{ element.text }}</td>
  </ng-container>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef colspan="3">text</th>
    <td mat-cell *matCellDef="let element" colspan="3">
      Action:
      {{ element.actions | titlecase }}
    </td>
  </ng-container>
  <!-- Additional Props  Column -->
  <ng-container matColumnDef="additionalProp">
    <td mat-cell *matCellDef="let element" colspan="3">
      <span
        class="additional-prop"
        *ngFor="let extendedField of getExtendedKeyListPerFeat(element)"
      >
        <span class="additional-prop-name"
          >{{ extendedField.propName | titlecase }}: </span
        >{{ extendedField.value }}
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name', 'traits', 'level']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'traits', 'level']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['actions']" [style.display]="getDisplay(row)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['text']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['additionalProp']"></tr>
  <!-- <tr mat-row *matRowDef="let row;"><td>
    {{ row.text }}
  </td></tr> -->

  <!-- <tbody *ngFor="let feat of feats | fullFilter: filter">
    <tr class="top-level">
      <td>{{ feat.name }}</td>
      <td>
        <span *ngFor="let traitDisplay of feat.traits; last as isLast">
          {{ traitDisplay }}{{ isLast ? "" : ", " }}
        </span>
      </td>
      <td>{{ feat.level }}</td>
    </tr>
    <tr *ngIf="feat.actions">
      Action:
      {{
        feat.actions | titlecase
      }}
    </tr>
    <tr>
        <td colspan="3">
          {{ feat.text }}
        </td>
      </tr>
    <tr>
      <td colspan="3">
        <span class="additional-prop" *ngFor="let extendedField of getExtendedKeyListPerFeat(feat)">
            <span class="additional-prop-name">{{ extendedField.propName | titlecase }}: </span>{{ extendedField.value }}
        </span>
        
      </td>
    </tr>
  </tbody> -->
</table>
<mat-paginator
  [pageSizeOptions]="[50, 100, 200]"
  showFirstLastButtons
></mat-paginator>
