<table class="feat-table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Traits
      </th>
      <th>
        Level
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let feat of feats | fullFilter: filter">
    <tr class="top-level">
      <td>{{ feat.name }}</td>
      <td>
        <span *ngFor="let traitDisplay of feat.traits; last as isLast">
          {{ traitDisplay }}{{ isLast ? "" : ", " }}
        </span>
      </td>
      <td>{{ feat.level }}</td>
    </tr>
    <tr *ngIf="feat.actions">
      Action:
      {{
        feat.actions | titlecase
      }}
    </tr>
    <tr>
        <td colspan="3">
          {{ feat.text }}
        </td>
      </tr>
    <tr>
      <td colspan="3">
        <span class="additional-prop" *ngFor="let extendedField of getExtendedKeyListPerFeat(feat)">
            <span class="additional-prop-name">{{ extendedField.propName | titlecase }}: </span>{{ extendedField.value }}
        </span>
        
      </td>
    </tr>
  </tbody>
</table>
